    body {
        background-color: #000000;
        font-family: 'Courier New', monospace;
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #000000;
        border-bottom-style: ridge;
        border-bottom-color: #FF00FF;
    }
    
    .header-content {
        display: flex;
        flex-direction: column;
    }
    
    header h1 {
        margin: 0;
        font-size: 2em;
        color: #FF00FF;
        text-shadow: 2px 2px #0000FF;
    }
    
    header p {
        color: #00FF00;
        margin: 0;
    }
    
    section {
        padding: 20px;
    }
    
    h2 {
        font-size: 1.5em;
        color: #FF00FF;
        margin-bottom: 10px;
        border-bottom: 2px solid #00FF00;
        display: inline-block;
    }
    
    .education-item {
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 1.2em;
        margin-bottom: 5px;
        color: #FF00FF;
    }
    
    p {
        margin-bottom: 5px;
        color: #00FF00;
    }
    
    .navigation-container {
        display: flex;
    }
    
    .navigation {
        background-color: #000000;
        padding: 10px 20px;
        text-align: center;
        position: relative;
        margin: 0 10px;
        cursor: pointer;
        border: 2px solid #00FF00;
    }
    
    .navigation p {
        font-size: 1em;
        color: #00FF00;
        margin: 0;
    }
    
    .navigation:hover {
        background-color: #333333;
    }

    ul {
        margin-bottom: 5px;
        color: #00FF00;
    }
    
    li {
        font-size: 1em;
        line-height: 1.6;
    }    
    
    @media (min-width: 768px) {
        .navigation:last-child {
            margin-right: 40px;
        }
    }