body {
    background-color: #000000;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 100;
    padding: 10px;
    border-bottom-width: 5px;
    border-bottom-style: ridge;
    border-bottom-color: #FF00FF;
}

body {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 90px;
    margin-bottom: 3em;
}

h1 {
    color: #00FF00;
}

header h1 {
    font-size: 3em;
    color: #FF00FF;
    text-shadow: 2px 2px #0000FF;
    margin: 0;
    margin-left: 15px;
}

.navigation-container {
    display: flex;
    align-items: center;
}

.navigation {
    background-color: #000000;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid #00FF00;
}

.navigation p {
    font-size: 1.25em;
    color: #00FF00;
    margin: 0;
}

.navigation:hover {
    background-color: #333333;
}

@media (min-width: 768px) {
    .navigation:last-child {
        margin-right: 35px;
    }
}

@media screen and (max-width: 768px){
    body {
        margin-top: 140px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border-top-width: 5px;
    border-top-style: ridge;
    border-top-color: #FF00FF;
}

.footer p {
    font-size: 0.9em;
    color: #FFFFFF;
    margin: 0;
    display: inline-block;
}

.footer a {
    color: #00FF00;
    text-decoration: none;
    border-bottom: 1px solid #00FF00;
}

.footer a:hover {
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.section {
    border: 2px solid #FF00FF;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

/* for nested sections */

.section .section {
    border-color: #00FF00;
    margin: 20px;
    padding: 20px;
}

.section .section h2 {
    text-align: left;
    margin-left: 5em;
}

.icon {
    width: 55px;
    height: 55px;
    padding: 7.5px;
    background-color: white;
    display: inline-block;
    margin: 5px;
    border-radius: 12px;
}

.icon-label {
    text-align: center;
}

.icon-label-pair {
    display: flex;
    align-items: center;
}

.icon-label-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.blog-post {
    border: 2px solid #FF00FF;
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
    max-width: 800px;
    margin-bottom: 25px;
}

.blog-post h2 {
    margin-top: 7.5px;
}

.blog-post p {
    text-align: left;
}

.blog-post-container {
    display: inline-block;
    align-items: center;
}

#iconContainer {
    width: 78px;
    height: 78px;
}

@media screen and (max-width: 768px) {
    /* Styles for mobile devices go here */
    .section {
        border: 2px solid #FF00FF;
        padding: 10px;
        margin: 10px;
        border-radius: 6px;
    }
    .section .section h2 {
        text-align: left;
        margin-left: 10px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .icon {
        width: 40px;
        height: 40px;
        padding: 4px;
        background-color: white;
        display: inline-block;
        margin: 2px;
        border-radius: 12px;
        margin-right: 1em;
    }
    .icon-label {
        text-align: center;
    }
    .icon-label-pair {
        display: flex;
        align-items: center;
    }
    .icon-label-container {
        display: grid;
        align-items: start;
        justify-content: space-evenly;
        gap: 5px;
        flex-wrap: wrap;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        margin: top 80px;
    }
    h1 {
        width: 10em;
        text-align: left;
    }
}

